{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
</head>
<body>
<div class="container">
    <h2>About</h2>
    <div class="main">
        <p>
            We, at  EVENTS are capable of executing all your event needs at a pocket friendly and
            creative manner based on your requirements .
            Our services includes All types of flower decoration , corporate events ,
            catering services , professional makeup services
            photography and videography , lighting, sounds, tent house items and gifting services too.
            Contact us for an exciting Events experience with  EVENTS
        </p>
    </div>
</div>
</body>
</html>