{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}" >
</head>
<body>
    <nav class="navbar ">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="/signin">User Login</a></li>
            <li><a href="admin/">Adminlogin</a></li>
            <li><a href="about">About</a></li>
            <li><a href="contact">Contact</a></li>
        </ul>
        </nav>
    <main>
        <div class="baner-container">
            <div class="hedding">
                <h1>Event Management</h1>

            </div>

        </div>


 </main>
<script src="//code.tidio.co/zddgznsnluihmhtkzzcwuxmiux5klw9q.js" async></script>
</body>
</html>