*{
    margin:0;
    padding:0;


}
.container{
        width: 300px;
        padding: 50px 20px;
        margin: 10% auto 0;
        box-sizing: border-box;
        justify-content: center;
        text-align: center;
        background: #00b3b3;
        box-shadow: 5px 5px 30px 5px #888888;
}
.input-box{
      width: 100%;
      padding: 10px 20px;
      margin: 8px auto 0;
      box-sizing: border-box;
      border: none;
      border-bottom: 2px solid ;
}
.btn{
      background-color: #4CAF50; /* Green */
      border: none;
      color: white;

      padding: 12px 50px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
}